<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<!--link rel="icon" href="favicon.ico"> -->
	<title>Project- R.Ismakov.</title>
	<!-- Bootstrap core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link href="static/css/owl.carousel.css" rel="stylesheet">
	<link href="static/css/owl.theme.default.min.css"  rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="static/js/ie-emulation-modes-warning.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body id="page-top">
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top"><img src="static/images/white-logo.png" alt="Ismakov"></a>

			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#about">About</a>
					</li>
					<li>
						<a class="page-scroll" href="#analysis">Analysis</a>
					</li>
					<li>
						<a class="page-scroll" href="#graphs">Graphs</a>
					</li>
					<li>
						<a class="page-scroll" href="#trends">Trends</a>
					</li>
					<li>
						<a class="page-scroll" href='/mbti_app'>Web App</a>
					</li>
					<li>
						<a class="page-scroll" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- Header -->
	<header class="mbti_bg">
		<div class="container">
			<div class="slider-container">
				<div class="intro-text" >
					<div class="intro-lead-in"><span style="color: #ffffff"> Predicting Personality from Social Media Text </span> </div>
					<div class="intro-heading"><span style="background-color: #FFB6C1, alpha: 0.9"> MBTI Psychic</span></div>
					<a href="#about" class="page-scroll btn btn-xl">View work here</a>
				</div>
			</div>
		</div>
	</header>
	<section id="about" class="light-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>About Myer-Briggs Type Indicator</h2>
					</div>
				</div>

				<div class="col-lg-12 text-left">
					<p><br> The Myers Briggs Type Indicator is a personality test that looks at an individual's pyschological preferences to place them into one of 16 distinct personality types, defined by preferences spanning along four dimensions:</p>

					<ul>
						<li><p> <b>Extroversion-Introversion (E-I)</b>: How you intertact with the world and gain energy from interactions -- by being inwardly focused (Introversion) or outwardly turned (Extroversion)?</p> </li> <br>

						<li><p> <b>Intutition-Sensing (N-S)</b>: How you process information -- based on the information itself (Sensing) or your own thoughts and interpretations about the information (Intuition)?</p> </li><br>

						<li><p><b> Feeling-Thinking (F-T)</b>: How you make decisions -- based on logic and hard facts in search of the objective truth (Thinking) or on personal values and an inner sense of morality in search for harmony (Feeling)?</p> </li><br>

						<li><p><b> Judging-Perceiving (J-P):</b> How you organize your time and incoming information -- in a structured, organized way seeing the world as more black and white (Judging) or in a flexible, adaptable way prefering to keep options open (Perceiving)?</p> </li>
					</ul>

					<p> Although the MBTI has been critized for poor reliability (i.e. producing different results when taken on different occasions by the same person) and not being entirely comprehension (due to neuroticism not being taken into account), it still remains one of the most popular online personality tests to date and is especially popular within the business sector.
						<br><br>
					The purpose of this project is to investigate whether patterns and predictive features can be extracted from the text to pinpoint an individual's personality type. The ability to use writing style and word usage to detect a person's personality might be a more precise and more reliable method of detecting pyscological preferences than self-reported tests. </p>


				</div>
			</div>
		</div>
	</section>


	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<br>
				<img src="static\images\mbti\myers_briggs_images\MyersBriggsTypes.png" width="95%" height="95%"/>
				<br><br><br>
			</div>
		</div>
	</div>

	<section class="light-bg">
		<div class="container">
			<div class="row" >

				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>Limitations with MBTI Testing</h2>
					</div>
				</div>
				<div class="col-lg-12 text-left">
					<br>
					<p>
					There are a few issues with the current method of extracting a person's personality type. Self-reports tend to be unreliable for several reasons:</p>

					<ol>
						<li> <p>Most people can guess what personality function a question relates too (ie. We tend to be aware that the question "Do you prefer to stay in and read a book instead of going out to a party" refers to Extroversion/Introversion), and may choose to answer based on how they prefer to identify themselves as opposed to directly answering the question. This injects bias into how we choose to respond to the questions. </p></li>

						<li> <p>In many cases we don't have a strong preference for one way or the other, or we may vary depending on our mood or other contextual information that is not present in the question. This injects unreliability in how we choose to answer and may shift results when we retake the test.</p></li>

						<li> <p>The tests improve with the addition of extra questions. However, answering so many questions may be tiring for users.</p></li>
					</ol><br>

					<p>Given these limitations, using social media text might provide a more seamless and reliable method of extracting personality type. Below I will explain how I set out to acheive this.
					</p>


				</div>
			</div>
		</div>
	</section>

	<section class="overlay-dark bg-img1 dark-bg short-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">

					<img src="static\images\mbti\myers_briggs_images\divider_image_1.png" width="18%" height="18%"/>
					<img src="static\images\mbti\myers_briggs_images\divider_image_2.png"" width="20%" height="20%"/>
					<img src="static\images\mbti\myers_briggs_images\divider_image_3.png"" width="20%" height="20%"/>
					<img src="static\images\mbti\myers_briggs_images\divider_image_4.png"" width="20%" height="20%"/>




				</div>
			</div>
		</div>
	</section>


	<section id="analysis" class="light-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>About MBTI data set</h2>
					</div>
				</div>
				<div class="col-lg-12 text-left">
				<p>
					<br>
					The data consisted of around ~8600 datapoints, gathered from personalitycafe.com, a forum used for discussing various topics pertaining to personality. Each row consisted of the users self-reported MBTI type and approximately 50 posts for each user in the set.
					<br><br>
					Since the data was collected from a site tailored towards a specific topic, certain words were removed that might introduce leakage into the model (i.e. if a person might be more likely to reference their own type within their posts, we don't want the model to 'cheat' by learning that 'ISFJ' is mostly linked to ISFJs).
					<br><br>
					Some words removed included Myer-Briggs types, Enneagram types, personality functions (ie Fi, Fe, Ni, Ne, etc,), and any term that may be specifically related to personality types that are not likely to be representative of the type of posts the algorithm will be used to predict off.
					<br><br>
					After doing some basic, standard cleaning of the text, the first step was looking at the distribution of the types among the data.
					The data set was mostly skewed towards 'IN's and 'EN's, with very few 'ES's in the set, pretty much the reverse of what the real distribution in the global population is.
					<br><br>
					Plotted below is the distribution of the types with the data set (first plot) compared to the global population distribution (second plot). The third plot shows the difference between the real percent the types appear in the world and the percent they appear in our data set. As you can see, 'IN's are vastly overrepresented in the data. 'ES's and 'IS's, by contrast, while the most common types, are underrepresented within the data.
					<br><br>
				</p>

				<div align="center"><img src="static\images\mbti\type_distributions.png" width="40%" height="40%"/></div>
				<br>

				<p>I considered whether to perform oversampling on the classes to get a more representative blend. In the end I decided to keep the training data as is, with the assumption that the people who will be interacting with a MBTI personality predicter app will most likely resemble the data set distribution as opposed to the real world distribution. <br><br>

					In order to compare properly, I created two Baseline Models: one that randomly predicted with the same probabilities as the distribution of the types in the set, and the second which always chose the majority class (INFP in this case). This allowed me to compare the model predictions to baseline models that similarily took the unbalanced labels into account.

					<br>

				</p>
</div>
			</div>
		</div>
	</section>


	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>Feature engineering</h2>
					</div>
				</div>
				<div class="col-lg-12 text-left">

					<p>
						<br>

						Particular writing styles have been found to be assocaited with certain personality traits. Moreso, aside from looking purely at word usage, it has been shown that the way the author expresses his or her thoughts is able to reveal character to an even greater degree.
						<br><br>
						One example of this is how introverts have been found to use 'I', 'me', 'myself' terms more so than extroverts, who prefer 'they', 'them', 'us', 'we'. This relates to introverts' tendencies to be more inside their heads and more prone to perceiving a situation from their own viewpoint.
						<br><br>
						Other studies have found that words that are used to express balance or nuance (“except,” “but,” etc.) are correlated with higher cognitive complexity, better grades, and even truthfulness.
						<br><br>
						In addition to both of the above features being included in the featurized data set, some other features used for this task, include:
					</p>

					<ul>
						<li><p><p> average word length</p></li>
						<li><p> average length of post</p></li>
						<li><p> average sentence length</p></li>
						<li><p> sentence length variability</p></li>
						<li><p> polarity </p></li>
						<li><p> subjectivity </p></li>
						<li><p> level of formatlity </p></li>
						<li><p> word diversity</p></li>
						<li><p> different parts of speech usage</p></li>
						<li><p> frequency of using curse words</p></li>
						<li><p> frequency of certain types of words (sad words, happy words, etc)</p></li>
						<li><p> sentence capitalization</p></li>
						<li><p> use of ALL CAPS </p></li>
						<li><p> etc. ...</p></li>
					</ul>

					<p>
						For full list, view code at: github.com/rismakov/MBTI_predictor.
						<br><br>
						In addition to extracting stylistic features, I performed TFIDF on the data. (TFIDF is a measure for scoring words: in short, words that words that appear often in a single document, but very rarely in other documents are scored higher).
					</p>


				</div>
			</div>

		</section>

		<section id="graphs" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Type Word Usage Differences</h2>
						</div>
					</div>
					<div class="col-lg-12 text-left">
						<p>
							<br>
							The types tend to use different types of words with more frequency. Doing a TFIDF analysis, which observes how often a word is used in a specific text normalized to the times it's used in general among all the texts available, I investigated which words were used most often by which type.

							<br><br> Plotted below are the top TFIDF words used by each type as compared to all the rest of the types. As you can see, 'INF' types tend to use words like 'dreams', 'heart', 'soul', 'sad', while 'INT' and 'ENT' types tend to use 'argument', 'debate', 'science', 'intelligence', as well as higher levels of swear words. 'ES' and 'IS' types tend to use words more often pertaining to physical objects and people: 'husband', 'sister', 'coffee', 'phone', etc.
							<br><br>
						</p>
						<div align="center"><img src="static\images\mbti\top_words_for_each_type.png" width="80%" height="80%"/></div>
						<br>
					</div>
				</div>
			</section>


					<section>
						<div class="container">
							<div class="row">
								<div class="col-lg-12 text-center">
									<div class="section-title">
										<h2>Type Writing Style Differences</h2>


										<img src="static\images\mbti\type_style\subjectivity.png" width="45%" height="45%"/>
										<img src="static\images\mbti\type_style\polarity.png" width="45%" height="45%"/>
										<img src="static\images\mbti\type_style\articles_per_word.png" width="45%" height="45%"/>
										<img src="static\images\mbti\type_style\me_per_word.png" width="45%" height="45%"/>

									</div>
								</div>

							</div>
						</section>


						<section class="light-bg">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 text-center">
									<div class="section-title">
										<h2>Functions Writing Style Differences</h2>
										<br>
										<img src="static\images\mbti\function_style\subjectivity.png" width="45%" height="45%"/>
										<img src="static\images\mbti\function_style\sentence_capitalization_freq.png" width="45%" height="45%" />
										<img src="static\images\mbti\function_style\word_diversity.png" width="45%" height="45%"/>
										<img src="static\images\mbti\function_style\swear_words_per_word.png" width="45%" height="45%"/>

									</div>
								</div>

							</div>
						</section>

						<section>
						<div class="container">
							<div class="row">
								<div class="col-lg-12 text-center">
									<div class="section-title">
										<h2>Type Word Usage Differences</h2>


										<img src="static\images\mbti\type_words\happy.png" width="45%" height="45%"/>
										<img src="static\images\mbti\type_words\sad.png" width="45%" height="45%"/>
										<img src="static\images\mbti\type_words\math.png" width="45%" height="45%"/>
										<img src="static\images\mbti\type_words\argument.png" width="45%" height="45%"/>

									</div>
								</div>

							</div>
						</section>

						<section class="light-bg">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 text-center">
									<div class="section-title">
										<h2>Functions Word Usage Differences</h2>


										<img src="static\images\mbti\function_words\mom.png" width="45%" height="45%"/>
										<img src="static\images\mbti\function_words\mother.png" width="45%" height="45%"/>
										<img src="static\images\mbti\function_words\debate.png" width="45%" height="45%"/>
										<img src="static\images\mbti\function_words\drunk.png" width="45%" height="45%"/>

									</div>
								</div>

							</div>
						</section>

		<section id="trends">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Interesting Trends</h2>
						</div>
					</div>
					<div class="col-lg-12 text-left">
						<br>
						<ul>
							<li><p>It appears that the use of 'Mom' and 'Mother' is inversely related. 'E', 'S', 'F', and 'P's tend to use 'Mom' more frequently, while 'I', 'N', 'T', and 'J's tend to use 'Mother'.</p></li>
							<li><p> 'E', 'N', 'T', and 'P's tend to use the term 'debate' more frequently (given that ENTPs are known as 'the debaters', this makes sense.)</p></li>
							<li><p> 'E', 'S', 'T', and 'P's tend to use the word 'drunk' more frequently. This makes sense for extroverts (who prefer partying compared to introverts), sensors (who prefer the concrete and physical compared the intuitives), and perceivers (who are more easy going and in the moment than their Judging counterpoints). Why Thinkers are more likely to be getting drunk than Feelers is less intuitive however.</p></li>
							<li><p> It appears that 'NF's are more likely to use both the words 'happy' and 'sad' than are 'NT's, showing that they tend to focus more on emotions in general.</p></li>
							<li><p> There appears to be a trend of TP > TJ > FP > FJ for use of the word 'math' for Intuitive types.</p></li>
							<li><p> Thinkers appear to use the word 'debate' more so than Feelers for Intuitive types.</p></li>
							<li><p> 'E', 'N', 'F', and 'P's tend to display more subjectivity in their posts. </p></li>
							<li><p> 'N', 'T', and 'J's tend to capitilize their sentences more frequently. </p></li>
							<li><p> 'I', 'T', and 'P's tend to shower a higher level of diversity of vocabulary in their text. </p></li>
							<li><p> 'I', 'S', 'T', 'P's also tend to swear more frequently. </p></li>
						</ul>

							<br>
							<p> Note: given that there were so few 'ES' types, it was more difficult to pick out trends within this group.

							<br><br>
							To see more trends and compare word usage and stylistic differences between personality types and between function types, you can run the 'plotting.py' functions available on github.
							</p>

						<br>
					</div>
				</div>
			</section>


							<section id="contact" class="light-bg">
								<div class="container">
									<div class="col-lg-12 text-center">
									<div class="section-title">
							<h2>Contact</h2>
						</div>
						</div>
									<div class="col-lg-12">
										<br>
										<p>
											You can reach me at:
										</p>

										<div class ="col-md-12">
											<div class="row">

												<i class="fa fa-github"></i> <a href="github.com/rismakov">github.com/rismakov</a>

												<br>

												<i class="fa fa-linkedin"></i> <a href="linkedin.com/in/revekkaismakov">linkedin.com/in/rismakov</a>

												<br>

												<i class="fa fa-envelope"></i> rismakov@gmail.com

											</div>
										</div>
									</div>
								</div>
							</section>




							<footer>
							</footer>


		<!-- Bootstrap core JavaScript
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
			<script src="static/js/bootstrap.min.js"></script>
			<script src="static/js/owl.carousel.min.js"></script>
			<script src="static/js/cbpAnimatedHeader.js"></script>
			<script src="static/js/theme-scripts.js"></script>
			<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
			<script src="static/js/ie10-viewport-bug-workaround.js"></script>
		</body>
		</html>
